#visual .main_visual {
  display: flex;
  justify-content: center;
  gap: 280px;

  width: 100%;
  max-width: 1454px;
  margin: 0 auto;
  flex-wrap: wrap;
}

// /* [반응형 추가] 화면이 좁아져서 슬라이더 2개가 꽉 찰 때 */
// @media screen and (max-width: 1200px) {
//     .slider-row {
//         justify-content: center;
//     }
// }

// /* 모바일 등 좁은 화면에서는 다시 하나씩 보이게 처리 */
// @media screen and (max-width: 1150px) {
//     .video-slider {
//         margin-left: auto; /* 다시 가운데 정렬 */
//         margin-right: auto;
//     }
// }
