.dropdown4 {
    position: relative;
    width: 200px;
    font-family: 'Inter', sans-serif;
}
.dropdown4 #dropdown4 {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    opacity: 0;
    cursor: pointer;
    padding: 5px 10px;
    height: 50px;
}
.dropdown4 h2 {
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    height: 50px;
    padding: 5px 10px;
    border-radius: 4px;
    position: relative;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 4px 4px 20px -2px rgba(0, 0, 0, 0.35);
    transition: all 0.2s;
}
.dropdown4 .arrow-down {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 9px solid #fff;
    display: inline-block;
    vertical-align: middle;
    margin-left: 37%;
    transition: transform ease-in-out 0.3s;
}
.dropdown4:hover h2 {
    transform: translateY(-2px);
    box-shadow: 2px 2px 5px -1px rgba(0, 0, 0, 0.35);
    transition: all 0.2s;
}
.dropdown4 ul {
    position: absolute;
    width: 100%;
    list-style: none;
    overflow: hidden;
    text-align: center;
    transition: all 0.2s ease-out;
    visibility: hidden;
    opacity: 0;
    padding-left: 0px;
    margin-top: -7px;
}
.dropdown4 ul li {
    border-radius: 4px;
    position: relative;
    display: inline-block;
    width: 100%;
    margin-top: 5px;
    background-color: black;
    transition: background-color 3s;
    box-shadow: 2px 2px 10px -2px rgba(0, 0, 0, 0.35);
}
.dropdown4 ul a {
    display: block;
    color: white;
    font-weight: 400;
    font-size: 14px;
    text-decoration: none;
    padding: 7px;
    border-radius: 4px;
}
.dropdown4 ul li:hover,
.dropdown4 ul li a:hover,
.dropdown4 ul li a:focus {
    background-color: #5f03f4;
    transition: all 0.1s;
}
.dropdown4 #dropdown4:checked ~ ul {
    visibility: visible;
    opacity: 1;
}
.dropdown4 #dropdown4:checked + label .arrow-down {
    transform: rotate(180deg);
}
.dropdown4 #dropdown4:not(:checked) ~ ul {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}
