.musical-inner {
    height: 1770px;
    width: 1440px;
    margin: 0 auto;
}
h3 {
    margin-top: 48px;
    font-size: 48px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: -0.96px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 48px;
}
h3 span {
    color: rgba(51, 51, 51, 0.7);
    font-size: 24px;
    font-weight: 400;
    transform: translateY(-10px);
}
