.statemenu {
  text-align: center;
  display: flex;
  justify-content: flex-end; /* right 대신 flex-end 권장 */
  margin-bottom: 8px;
  li {
    display: flex;
    width: 90px;
    height: 34px;
    padding: 4px;
    justify-content: center;
    align-items: center;
    color: #8e8e8e;
    font-size: 18px;
    font-weight: 300;
    line-height: 160%;
    letter-spacing: -0.27px;
    border: 1px solid #8e8e8e93;
    cursor: pointer;
    user-select: none;
    border-radius: 30px;
    margin-right: 10px;
    &:last-child {
      margin-right: 0;
    }
    &.on {
      background: #ff6b6b;
      border: 1px solid #fff;
      color: #fff;
      font-weight: 700;
      font-size: 20px;
    }
  }
}
