.filter-menu {
    text-align: center;
    display: flex;
    justify-content: flex-start; /* left 대신 flex-start 권장 */
    margin: 10px 0;
    border-top: 0.5px solid #8e8e8e52;
}
.filter-menu li {
    display: flex;
    padding-left: 17px;
    padding-top: 8px;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: -0.3px;
    cursor: pointer;
    user-select: none;
    margin-right: 5px;
    &:last-child {
        margin-right: 0;
    }
    &.on {
        font-size: 18px;
        font-weight: 700;
        line-height: 160%;
        letter-spacing: -0.3px;
    }
}
