.statemenu {
  text-align: center;
  display: flex;
  justify-content: flex-end; /* right 대신 flex-end 권장 */
  margin-bottom: 2px;
  li {
    display: flex;
    width: 72px;
    height: 30px;
    padding: 1px;
    justify-content: center;
    align-items: center;
    color: #8e8e8e;
    font-size: 16px;
    font-weight: 300;
    line-height: 160%;
    letter-spacing: -0.27px;
    border: 1px solid #8e8e8e93;
    cursor: pointer;
    user-select: none;
    border-radius: 30px;
    margin-right: 6px;
    &:last-child {
      margin-right: 0;
    }
    &.on {
      background: #b91c1c;
      //   background: #5b21b6;
      //     background: #111827;

      //   background: #e50914;
      //   background: #7c3aed;

      border: 1px solid #b91c1c;
      color: #fff;
      font-weight: 600;
      font-size: 17px;
    }
  }
}
