.playlist {
  width: 1440px;
  display: flex;
  flex-wrap: wrap;
  gap: 44px;
  margin-top: 72px;
  padding: 0 17px;

  li {
    padding-bottom: 124px;
    text-align: center;
    li:hover {
      cursor: pointer;
    }
    li:hover {
      cursor: pointer;
    }
    img {
      width: 246px;
      border-radius: 6px;
      margin-bottom: 10px;
      transform: scale(1);
      transition: transform 0.3s ease;
    }
    img:hover {
      transform: scale(1.1);
    }
    h6 {
      color: #333;
      font-size: 24px;
      font-weight: 600;
      line-height: 140%;
      letter-spacing: -0.48px;
      margin-bottom: -1.5px;
    }
    .place {
      color: #363636;
      font-size: 17px;
      font-weight: 400;
      line-height: 160%;
      letter-spacing: -0.221px;
      margin-bottom: 10px;
    }
    span {
      display: flex;
      justify-content: center;
      color: #888;

      font-size: 16px;
      font-weight: 400;
      line-height: 150%;
      letter-spacing: -0.15px;
    }
    span p {
      color: #333;
      font-weight: 500;
    }
    span p::before {
      content: '|';
      margin: 0 8px;
      color: #d2d2d2;
    }
    .hidden {
      display: none;
    }
  }
}
