.nextWorkSection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin: 144px auto;
    width: 1454px;
    height: 330px;
    h4 {
        color: #353535;
        font-size: 26px;
        font-weight: 700;
        line-height: 1.8;
        letter-spacing: -0.2px;
    }
    .nextWorkList {
        display: grid;
        /* 1fr을 5번 반복 = 정확히 5등분 */
        grid-template-columns: repeat(7, 1fr);
        /* 3. 패딩 및 간격 */
        //padding: 0px;
        //box-sizing: border-box;
        //gap: 0px; /* 아이템 사이 최소 간격 (원하는 대로 조절 가능) */
        /* 4. 아이템 정렬 (중요 ⭐) : Grid 칸 안에서 li를 가운데 정렬하여 '남은 공간'을 여백으로 만듦 */
        justify-items: center;
        .nextWork {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 160px;
            margin-right: 53px;

            img {
                width: 160px;
                border-radius: 4px;
            }
            h6 {
                color: #333;
                margin-top: 10px;
                font-size: 18px;
                font-weight: 700;
                line-height: 140%;
                letter-spacing: -0.36px;
            }
            p {
                color: #333;
                text-align: center;
                font-size: 12px;
                font-weight: 400;
                line-height: 160%;
                letter-spacing: -0.13px;
            }
        }
        .nextWork:last-child {
            margin-right: 0;
        }
    }
}
